.about {
  position: relative;
  padding: 55px 0 100px;
  overflow: hidden;

  & .wrapper {
    @media (max-width: 1100px) {
      padding: 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }

  &__description {
    padding: 45px 90px 0 0;

    @media (max-width: 1100px) {
      padding: 0 45px;
    }

    @media (max-width: 768px) {
      padding: 0 35px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 22px;
    color: #000;
    position: relative;
    margin-bottom: 60px;
    padding-left: 100px;

    @media (max-width: 1100px) {
      padding-left: 0;
    }

    &::before {
      content: "";
      display: block;
      width: 64px;
      height: 4px;
      background-color: #467637;
      position: absolute;
      top: 15px;
      left: 0;

      @media (max-width: 1100px) {
        display: none;
      }
    }

    & p {
      margin-top: 0;
      font-size: 15px;
      line-height: 120%;
    }
  }

  & .about__accent-text {
    color: #284a2e;
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 22px;

    @media (max-width: 1100px) {
      margin-bottom: 60px;
      border-radius: 32px 0;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      background-color: #f7f7ec;
      padding: 30px 65px;
    }

    @media (max-width: 768px) {
      padding: 20px;
      font-weight: 500;
    }

    @media (max-width: 320px) {
      font-size: 14px;
    }
  }

  &__data {
    max-width: 300px;
    width: 100%;
    color: #fff;
    padding: 0 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #467637;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23437135' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

    @media (max-width: 1100px) {
      max-width: 100%;
      padding: 55px 45px;
      flex-direction: row;
      justify-content: space-around;
    }

    @media (max-width: 768px) {
      padding: 35px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 500%;
      height: 200%;
      top: -50%;
      left: -30px;
      right: 0;
      z-index: -1;
      background-color: #467637;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23437135' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

      @media (max-width: 1100px) {
        display: none;
      }
    }
  }

  & .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #000;
    margin: 0 0 30px;
    max-width: 450px;
    text-transform: none;

    @media (max-width: 1100px) {
      max-width: 100%;
      margin-bottom: 50px;
    }

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__data img {
    max-width: 123px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 25px;

    @media (max-width: 1100px) {
      display: none;
    }
  }

  &__data-list {
    position: sticky;
    top: 115px;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 1100px) {
      position: relative;
      top: 0;
      display: grid;
      gap: 75px;
      grid-template-columns: auto auto auto;
    }

    @media (max-width: 600px) {
      gap: 40px;
      grid-template-columns: auto;
    }

    & li {
      text-align: center;
      margin-bottom: 30px;

      @media (max-width: 1100px) {
        margin-bottom: 0;
      }
    }

    & p {
      margin: 0;
      font-weight: 700;
      font-size: 30px;
      line-height: 120%;
      text-align: center;
      color: #f7f7ec;

      @media (max-width: 1100px) {
        font-weight: 600;
        font-size: 18px;
      }
    }

    & span {
      color: #d5c695;
      font-weight: 800;
      font-size: 100px;
      line-height: 100%;
      margin-bottom: 5px;
      display: block;

      @media (max-width: 1100px) {
        font-weight: 700;
        font-size: 80px;
        margin-bottom: 20px;
      }
    }
  }

  & .video-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 340px;
    flex-wrap: wrap;
    margin: 0 0 0 auto;

    @media (max-width: 1100px) {
      margin: 0 auto;
      margin-bottom: 55px;
      max-width: max-content;
      flex-direction: column-reverse;
      padding: 60px;
      background-image: url("../img/video-preview/1.jpg");
      background-size: cover;
    }

    @media (max-width: 768px) {
      padding: 30px 20px;
      background-size: cover;
      text-align: center;
    }

    & p {
      max-width: 185px;
      font-weight: 700;
      font-size: 14px;
      line-height: 157%;
      text-transform: uppercase;
      color: #467637;
      margin-right: 15px;

      @media (max-width: 1100px) {
        max-width: max-content;
        margin: 0;
        color: #ffffff;
      }
    }

    & .button {
      border: none;

      @media (max-width: 1100px) {
        max-width: max-content;
        margin: 0;
      }
    }
  }
}
