/* Первый экран */
.first-screen {
  position: relative;
  background-color: #413d42;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 80px 0 100px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  padding-top: 130px;
  padding-bottom: 100px;
  background-image: url("../img/bg/first-screen--home.jpg");

  @media (max-width: 1220px) {
    background-image: url("../img/bg/first-screen--home-1200.jpg");
    padding-bottom: 60px;
  }

  @media (max-width: 768px) {
    background-image: url("../img/bg/first-screen--home-768.jpg");
    background-position: right center;
  }

  @media (max-width: 320px) {
    background-image: url("../img/bg/first-screen--home-320.jpg");
  }

  &::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }
  & .wrapper {
    position: relative;
    z-index: 4;
  }
  &__title {
    font-size: 51px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin: 0 0 25px;
    max-width: 100%;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 85px;

    @media (max-width: 1220px) {
      font-size: 35px;
    }

    @media (max-width: 768px) {
      font-size: 27px;
    }

    @media (max-width: 320px) {
      font-size: 21px;
    }
  }
  &__title span {
    color: #d5c695;
    font-weight: 500;
    text-transform: none;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 42px;
    line-height: 110%;
    color: #fff;
    max-width: 500px;
    margin: 0;
    margin-bottom: 10px;

    @media (max-width: 1220px) {
      font-size: 35px;
    }

    @media (max-width: 768px) {
      font-size: 29px;
    }

    @media (max-width: 320px) {
      font-size: 21px;
    }
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 110px;
    margin-bottom: 45px;

    @media (max-width: 1220px) {
      grid-template-columns: 1fr;
      gap: 30px;
      margin-bottom: 70px;
    }
  }
  &__item {
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    color: #fff;
    position: relative;

    @media (max-width: 1220px) {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &::before {
      content: "";
      background-image: url("../img/icons/icon-1.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 42px;
      height: 42px;
      display: block;
      margin-bottom: 15px;

      @media (max-width: 1220px) {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }

  &__item--2::before {
    background-image: url("../img/icons/icon-2.svg");
  }

  &__item--3::before {
    background-image: url("../img/icons/icon-3.svg");
  }

  &__item span {
    font-size: 18px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;

    @media (max-width: 1220px) {
      display: inline-block;
      margin-bottom: 0;
      text-transform: none;
      margin-right: 5px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
  &__promo {
    position: relative;
    background-color: #fff;
    color: #000;
    width: 100%;
    margin: 0 auto;
    padding: 35px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 32px 0;
    /* Для главной страницы */
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -200px;

    @media (max-width: 1200px) {
      position: relative;
      margin-bottom: 0;
    }

    @media (max-width: 900px) {
      flex-direction: column;
      text-align: center;
      padding: 25px;
    }
  }
  &__promo-title {
    max-width: 560px;
    font-weight: 700;
    text-transform: none;
    font-size: 24px;
    line-height: 110%;
    margin: 0;

    @media (max-width: 900px) {
      margin-bottom: 30px;
      font-weight: 600;
      font-size: 24px;
    }

    @media (max-width: 768px) {
      font-size: 19px;
      margin-bottom: 25px;
    }
  }
  &__buttons-wrapper {
    display: grid;
    row-gap: 15px;

    & .button {
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

/* переопределения для лендинговой страницы */
.landing {
  & .first-screen {
    background-image: url("../img/bg/first-screen--lp.jpg");

    @media (max-width: 1220px) {
      background-image: url("../img/bg/first-screen--lp-1200.jpg");
    }

    @media (max-width: 768px) {
      background-image: url("../img/bg/first-screen--lp-768.jpg");
      background-position: right center;
    }

    @media (max-width: 320px) {
      background-image: url("../img/bg/first-screen--lp-320.jpg");
    }

    & .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px 100px;
    }

    &__title {
      order: -1;
      margin-bottom: 0;
      grid-column: span 2;

      @media (max-width: 1200px) {
        margin-bottom: 40px;
      }
      @media (max-width: 768px) {
        font-size: 32px;
        margin-bottom: 20px;
      }

      @media (max-width: 470px) {
        text-align: center;
        font-size: 30px;
      }

      @media (max-width: 410px) {
        font-size: 27px;
      }

      @media (max-width: 320px) {
        font-size: 20px;
      }
    }

    &__subtitle {
      @media (max-width: 1300px) {
        grid-column: span 2;
        max-width: 100%;
        margin-bottom: 45px;
      }

      @media (max-width: 1200px) {
        display: none;
      }
    }

    &__list {
      gap: 60px;

      @media (max-width: 1200px) {
        grid-column: span 2;
        grid-template-columns: 1fr 1fr 1fr;
        width: fit-content;
        gap: 25px;
      }

      @media (max-width: 470px) {
        grid-template-columns: 1fr;
        gap: 35px;
        width: 100%;
      }
    }

    &__item {
      width: 150px;

      @media (max-width: 1200px) {
        align-items: flex-start;
        flex-direction: column;
        width: 125px;
      }

      @media (max-width: 470px) {
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        align-items: baseline;
      }

      @media (max-width: 400px) {
        flex-direction: column;
        align-items: center;
      }
    }

    &__item span {
      margin-bottom: 0;

      @media (max-width: 1200px) {
        margin-top: 10px;
      }

      @media (max-width: 768px) {
        display: inline-block;
      }
    }

    &__item::before {
      background-image: url("../img/icons/apartment-1.svg");
    }

    &__item--2::before {
      background-image: url("../img/icons/apartment-2.svg");
    }

    &__item--3::before {
      background-image: url("../img/icons/apartment-3.svg");
    }

    &__advantages {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column: span 2;
      gap: 100px;
      margin-top: 80px;
      margin-bottom: 40px;

      @media (max-width: 1300px) {
        grid-template-columns: 1fr;
        grid-column: span 1;
        gap: 15px;
        margin-top: 0;
        margin-bottom: 40px;
      }

      @media (max-width: 1200px) {
        grid-column: span 2;
      }
    }

    &__advantage {
      position: relative;
      padding-left: 40px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 30px;
        height: 28px;
        background-image: url("../img/icons/star.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    &__promo {
      grid-column: span 2;
    }
  }

  & .first-screen__promo-title {
    @media (max-width: 1080px) {
      margin-bottom: 20px;
    }

    @media (max-width: 670px) {
      margin-bottom: 40px;
    }
  }

  .first-screen__buttons-wrapper {
    @media (max-width: 1100px) {
      gap: 30px;
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 670px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  & .first-screen__list {
    @media (max-width: 1220px) {
      grid-template-columns: auto auto auto auto;
      grid-column: span 2;
    }

    @media (max-width: 480px) {
      grid-column: span 2;
      grid-template-columns: auto;
      width: max-content;
    }

    & .first-screen__item {
      @media (max-width: 480px) {
        flex-direction: row;
        width: 100%;
        align-items: baseline;

        & span {
          display: initial;
        }
      }
    }
  }

  & .first-screen__advantages {
    @media (max-width: 1220px) {
      grid-template-columns: auto auto;
      grid-column: span 2;
      gap: 40px;
    }

    @media (max-width: 470px) {
      grid-template-columns: auto;
    }
  }
}
