.portfolio {
  padding: 75px 0 95px;

  & .title {
    font-size: 44px;
    margin-bottom: 30px;
    text-align: left;
    margin-bottom: 68px;

    @media (max-width: 900px) {
      text-align: center;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;

    @media (max-width: 1130px) {
      grid-template-columns: auto;
      gap: 50px;
    }
  }

  &__item {
    background-color: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    @media (max-width: 400px) {
      padding: 0;
    }

    &:first-child .portfolio__labels {
      justify-content: space-around;

      @media (max-width: 1130px) {
        justify-content: flex-start;
      }

      @media (max-width: 400px) {
        padding: 0;
        justify-content: space-between;
        flex-direction: column;
        left: 0;
        position: absolute;
        top: 0;
        width: min-content;
      }
    }
    @media (max-width: 1130px) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
    }

    @media (max-width: 900px) {
      flex-direction: column;
      max-width: 350px;
    }
  }

  &__image {
    width: 100%;
    max-height: 197px;
    object-fit: cover;
    display: block;

    @media (max-width: 1130px) {
      max-width: 350px;
    }
  }

  &__description {
    padding: 35px;
    padding-bottom: 47px;

    @media (max-width: 1130px) {
      flex-grow: 2;
    }
  }

  &__name {
    margin: 0;
    margin-bottom: 14px;
  }

  &__adress {
    margin: 0;
    margin-bottom: 45px;

    @media (max-width: 400px) {
      margin-bottom: 30px;
    }
  }

  &__links {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 1130px) {
      justify-content: flex-start;
    }

    @media (max-width: 400px) {
    }
  }

  & .button {
    font-size: 14px;
    padding: 13px 10px 10px;
    margin: 0;

    @media (max-width: 1130px) {
      margin-right: 20px;
    }

    @media (max-width: 400px) {
      margin-right: 0;
      margin-bottom: 10px;
      width: 100%;
    }
  }

  &__status {
    display: inline-block;
    background-color: #d5c695;
    color: #ffffff;
    display: flex;
    align-items: center;
    max-width: 150px;
    padding: 9.5px 15px 13px;
    position: absolute;
    right: 0;
    flex-wrap: wrap;
    border-radius: 32px 0;

    &--work {
      background-color: #284a2e;
    }

    @media (max-width: 1130px) {
      max-width: fit-content;
      position: initial;
    }

    @media (max-width: 900px) {
      display: flex;
      align-items: center;
      max-width: 150px;
      padding: 9.5px 15px 13px;
      position: absolute;
      right: 0;
    }

    @media (max-width: 400px) {
      position: initial;
      width: 100%;
      max-width: 100%;
      text-align: center;
      justify-content: center;
    }
  }

  &__status-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;

    @media (max-width: 1130px) {
      margin-bottom: 0;
    }
  }

  &__status-label {
    font-size: 14px;
    line-height: 120%;
    max-width: 84px;

    @media (max-width: 1100px) {
      max-width: max-content;
    }

    @media (max-width: 900px) {
      max-width: 84px;
    }

    @media (max-width: 400px) {
      flex-grow: 1;
      max-width: min-content;
    }
  }

  &__labels {
    position: absolute;
    top: -40px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
    max-width: 100%;

    @media (max-width: 400px) {
      justify-content: space-between;
      padding: 0;
      justify-content: space-between;
      flex-direction: column;
      left: 0;
      position: absolute;
      top: 0;
      width: min-content;
    }
  }

  &__label-item {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    text-align: center;
    color: #000000;
    width: 84px;
    height: 84px;
    padding: 18px 5px 16px;
    background-color: #52d16e;
    display: flex;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 1130px) {
      margin-right: 10px;
    }

    @media (max-width: 400px) {
      margin-right: 0;
      font-size: 10px;
      height: auto;
      border-radius: 0;
      width: 120px;
      padding: 10px;
      margin-bottom: 5px;
    }

    & b {
      font-weight: 700;
    }

    &--intro {
      background-color: #935ad0;
      color: #ffffff;
    }
  }
}
