.tech-const {
  padding: 96px 0 91px;
  background-color: #f7f7ec;
  color: inherit;

  @media (max-width: 700px) {
      padding: 60px 0;
    }

  &__header {
    position: relative;
  }

  & .title {
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    color: #000000;
    max-width: 300px;
    margin: 0;
    margin-bottom: 30px;

    @media (max-width: 800px) {
      font-size: 27px;
      max-width: 100%;
    }
  }

  &__list .const-list__item:first-child {
    margin-top: -170px;

    @media (max-width: 1200px) {
      margin-top: 0;
    }
  }
}
