/* Кнопки */
.button {
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding: 15px 20px;
  line-height: 100%;
  font-size: 16px;
  background-color: #467637;
  border: 4px solid #467637;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 768px) {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #467637;
  }

  @media (max-width: 320px) {
    padding: 10px;
    font-size: 14px;
    text-transform: lowercase;
    letter-spacing: 0.5px;
  }

  &:hover,
  &:focus,
  &.active  {
    background: #284a2e;
    border-color: #284a2e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &.active {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 0.8;
  }
}

.button--transparent {
  background-color: transparent;
  color: #444;
  border: 4px solid #444;

  &:hover,
  &:focus,
  &:active  {
    color: #ffffff;
    background: #444444;
    border: 4px solid #444444;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    opacity: 0.8;
  }
}

